{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/viewer.css"/>
{% endblock %}
{% block title %} - {{document.title}}{% endblock %}
{% block content %}
	<div class="row-container" style="margin-top: 20px;">
		<div class="details row">
			<div class="col-md-12">
				<h1>{{document.title}} by {{document.author.username}}</h1>
				<p>{{document.description}}</p>

				{% if not request.args.edit and session.user.id == document.author_id %}
				<p><a href="{{ url_for('view_document', external_id=document.external_id, edit=True) }}" class="btn btn-success">Edit</a></p>
				{% endif %}

				<p class="small text-right">Version {{document.version}}. Updated: {{ document.updated.day }}/{{ document.updated.month }}/{{ document.updated.year }}</p>

				{% if request.args.edit and session.user.id == document.author_id %}
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Update this document</h3>
							<form action="{{ url_for('upload_file', external_id=document.external_id) }}" method="post" enctype="multipart/form-data">
								<div class="form-group"><label for="title">Title:</label> <input class="form-control" type="text" name="title" value="{{ document.title }}"></div>
								<div class="form-group"><label for="description">Description:</label> <input class="form-control" type="text" name="description" value="{{ document.description }}"></div>
								<div class="form-group"><label for="tags">Tags:</label> <input class="form-control" type="text" name="tags" placeholder="dataviz, playing, MI"></div>
								<div class="form-group"><label for="the_file">File:</label> <input class="form-control" type="file" name="the_file"></div>
								<div class="form-group">
									<input class="btn btn-success" type="submit" value="Update">
									<a class="btn btn-danger" href="{{ url_for('view_document', external_id=document.external_id) }}">Cancel</a>
								</div>
							</form>
						</div>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="viewer">
			<iframe src="{{ url_for('view_raw_document', external_id=document.external_id) }}" width="100%" height="100%"></iframe>
		</div>
	</div>

{% endblock %}
