{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/viewer.css"/>
{% endblock %}
{% block title %} - {{document.title}}{% endblock %}
{% block content %}
	<div class="row-container">
		<div class="details">
			<h1>{{document.title}} by {{document.author.username}}</h1>
			<p>{{document.description}}</p>
		</div>

		<div class="viewer">
			<iframe src="{{ url_for('view_raw_document', external_id=document.external_id) }}" width="100%" height="100%"></iframe>
		</div>
	</div>

{% endblock %}
